# IntelliJ project files
.idea/

# Compiled output
/out/

# Build artifacts
/build/

# Gradle-specific
.gradle/
build.gradle
gradle/

# Maven-specific
target/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
