<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
        <td>
            <form th:action="@{'/deleteUser/' + ${user.id}}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/">Return to main page</a>
</body>
</html>
